<%= form_for(@showdown) do |f| %>
  <% if @showdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showdown.errors.count, "error") %> prohibited this showdown from being saved:</h2>

      <ul>
      <% @showdown.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Contestant 1</h3>
  <%= autocomplete_field_tag 'contestant[1]', '', autocomplete_contestant_name_showdowns_path, 'data-contestant' => 1 %>
  <h3>Contestant 2</h3>
  <%= autocomplete_field_tag 'contestant[2]', '', autocomplete_contestant_name_showdowns_path, 'data-contestant' => 2 %>

  <div class="actions">
    <%= f.submit :contestant_1%>
  </div>
<% end %>
