<p id="notice"><%= notice %></p>

<div class="pickone">
  <div class="vs">vs.</div>
  <div class="pickone-option">
    <img src="http://i.imgur.com/fBFXH6k.png" />
    <caption>Jean Claude Van Damme</caption>
  </div>
  <div class="pickone-option">
    <img src="http://i.imgur.com/OzHpCbw.png" />
    <caption>Arnold Schwarzenegger</caption>
  </div>
</div>


<div class="quickstats">
  <table>
    <tr>
      <td>0</td>
      <td># of Mr. Universe Titles</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Yes</td>
      <td>Can do the splits, no problem</td>
      <td>No</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Number of movies starred in</td>
      <td>42</td>
    </tr>
  </table>
</div>


<div class="vote">
  <h2>vote</h2>
  <button class="left-option">Jean Claude Van Damme</button>
  <button class="right-option">Arnold Schwarzenegger</button>
</div>



<div>
  <h2>Showdown <%= @showdown.id %></h2>
</div>

<div>
  <h2>Contestants</h2>
  <% @contestants.each do |contestant|%>
      <%= contestant.name %>
      <% if contestant.portrait? %>
          <%= cl_image_tag(contestant.portrait.path, {}) %>
      <% end %> 
  <% end %>
</div>

<div>
  <h2>Stats</h2>
  <% @stats.each do |stat| %>
    <%= stat[@contestants.first].value %>
    <%= stat[:description].description %>
    <%= stat[@contestants.last].value %>
  <% end %>
</div>

<div>
  <h2>Votes</h2>
  <% @votes.each do |contestant, votes| %>
    <h4><%= contestant.name %> - <%= 100 * votes.count.to_f / @total_votes %>%</h4>
  <% end %>
</div>
