<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('.attachinary-input').attachinary() 
    });
  </script>
</head>
<body>

<header>
  <h1>Who Would Win?</h1>
</header>

<%= yield %>

</body>
</html>
